#containAll {
    display: flex;
    justify-content: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    border: 0.3px black solid;
    padding: 3px;
    margin: 0.2px;
}

#gridSizeButton {
    color: red;
}


